name: flutterlab
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^17.0.1
  intl: ^0.20.2

  flutter_localizations:
    sdk: flutter
  shared_preferences: ^2.5.4
  decimal: ^3.2.4
  firebase_core: ^4.4.0
  firebase_analytics: ^12.1.2
  firebase_remote_config: ^6.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  generate: true
